<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <div id="login-section">
      <form id="login-form" v-on:submit="submit" @submit.prevent>
        <p>
          Login
        </p>
        <p>
          <input id="login" type="text" v-model="login">
        </p>
        <p>
          Password
        </p>
        <p>
          <input id="password" type="password" v-model="password">
        </p>
        <button type="submit">SUBMIT</button>
      </form>
      <p>
        Token present? {{ tokenPresent }}
      </p>
    </div>
    <div id="localHello">
      <p>Enter your name:</p>
      <p>
        <input id="name" type="text" v-model="name">
      </p>
      <p>
        Hello, {{ name }}!
      </p>
    </div>
    <div id="remoteHello">
      <p>
        <button type="button" @click="remoteHello" :disabled="!tokenPresent">Remote hello</button>
      </p>
      <p>
        {{ remoteHelloMsg }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      login: '',
      password: '',
      name: 'Jony',
      tokenPresent: false,
      token: '',
      remoteHelloMsg: ''
    }
  },
  methods: {
    submit: function () {
      console.log("> submit")
      const requestOptions = {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: new URLSearchParams({
          'client_id': 'springBootClient',
          'username': this.login,
          'password': this.password,
          'grant_type': 'password'
        }),
        mode: 'cors'
      };
      fetch("http://localhost:8090/auth/realms/master/protocol/openid-connect/token", requestOptions)
      .then(response => response.json())
      .then(json => this.setToken(json.access_token))
      .catch(error => console.log(error));
    },
    setToken: function (token) {
      console.log("Setting token: " + token)
      this.token = token
      this.tokenPresent = true
    },
    remoteHello: async function () {
      const headers = {
        "authorization": "Bearer " + this.token
      };
      console.log(headers)
      let url = "http://localhost:8091/hello/" + this.name;
      const response = await fetch(url, { headers });
      this.remoteHelloMsg = await response.text()
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#remoteHello {
  background-color: #42b983;
}
</style>
